*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--cor-fundo);
}

h1{
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 40px 0 40px 0;
}

.form{
    width: 420px;
    height: 439px;
    background-color: #fff;
    flex-shrink: 0;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: auto;
}

.title-form{
    color: #000;
    display: flex;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
    padding-top: 2rem;
}

label{
    display: block;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1rem;
    text-align: start;
    margin-left: 60px;
}

input{
    width: 304px;
    height: 34px;
    background-color: #FEFFE4;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    padding: 8px;
    border-radius: 4px;
}


#btnAtualizar{
    padding: 10px 25px 10px 25px;
    color: #fff;
    border-radius: 4px;
    background: #48A4FA;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

#btnAtualizar:disabled{
    background-color: #CAE6FF;
    color: #FFFFFF;
}

#btnAtualizar:hover{
    border-radius: 4px;
    background: #007BED;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#reset{
    padding: 10px 25px 10px 25px;
    background-color: #F59999;
    color:#444444;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

#reset:disabled{
    background-color: #FFE2E2;
    color: #AEAEAE;
}

#reset:hover{
    border-radius: 4px;
    background: #FF5F5F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#btnAtualizar:active{
    border-radius: 4px;
    background: #007BED;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#reset:active{
    border-radius: 4px;
    background: #FF5F5F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

h3{
    margin: 100px 0 20px 100px;
}

.produtos{
    display: flex;
    list-style: none;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid #444444;
    margin: 0 100px 0px 100px;
    font-family: 'Ubuntu', sans-serif;

}


ul:nth-child(odd){
    background-color: #FFF;
}

ul:nth-child(even){
    background-color: #FFF1C1;
}

ul:nth-last-child(1){
    margin-bottom: 100px;
}

       
.bts.bts-base {
    width: 60.6px;
    height: 27.26;
    border-radius: 30px;
    margin: 10px;
    border: 1px solid transparent; 
}

.bts-base.bts-light {
    background: #000;
    transition: .5s;
}

.bts-base.bts-dark {
    background: #d9d9d9;
    transition: all .5s;
}

.bts-slider {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
}

.bts-slider.bts-light {
    background: #d9d9d9;
    transition: all .5s
}

.bts-slider.bts-dark {
    background: #000;
    transform: translateX(35px);
    transition: all .5s;
}

:root{
    --cor-fundo: #FEFFE4;

}
  
[data-theme="dark"] {
    --cor-fundo: #000;
    --primary-color: #fff;
    --secundary-color: #fff;
}

