body{
    margin: 0;
    background-color: #DDE6ED;
    color: #121212;
    font-family: 'Urbanist', sans-serif;
}

.produtos{
    display: flex;
    list-style: none;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;
}

h1{
    text-align: center;
    margin-top: 3rem;
}

form{
    text-align: center;
    font-size: 18px;
}

button{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px;
    cursor: pointer;
    color: #121212;
    background-color: transparent;
    border-radius: 36px;
    font-size: 16px;
    width: 8rem;
    margin-left: 1rem;
}

button:hover{
    color: #fff;
    background-color: #121212;
}

label{
    display: block;
    margin-top: 1rem;
}

#menu{
    display: flex;
    font-size: 1rem;
    background-color:#121212;
}

#menu ul li{
    display: inline;
    font-size: 18px;
}

#menu ul li a{
    text-decoration: none;
    color:#fff;
    padding: 2px 10px;
}

#menu ul li a:hover{
    color: #0c8cee;
}

div{
    text-align: center;
}

input{
    border-radius: 6px;
    height: 15px;
}
